In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import ExtraTreesClassifier

In [ ]:
hrdata=pd.read_csv('/content/sample_data/HR.csv')
print(hrdata)

       satisfaction_level  last_evaluation  ...    sales  salary
0                    0.38             0.53  ...    sales     low
1                    0.80             0.86  ...    sales  medium
2                    0.11             0.88  ...    sales  medium
3                    0.72             0.87  ...    sales     low
4                    0.37             0.52  ...    sales     low
...                   ...              ...  ...      ...     ...
14994                0.40             0.57  ...  support     low
14995                0.37             0.48  ...  support     low
14996                0.37             0.53  ...  support     low
14997                0.11             0.96  ...  support     low
14998                0.37             0.52  ...  support     low

[14999 rows x 10 columns]

In [ ]:
hrdata=hrdata.rename(columns={'sales':'department'})

In [ ]:
Y=hrdata.iloc[:,6]
X=hrdata.drop('left', axis=1)
print(X.head())

   satisfaction_level  last_evaluation  ...  department  salary
0                0.38             0.53  ...       sales     low
1                0.80             0.86  ...       sales  medium
2                0.11             0.88  ...       sales  medium
3                0.72             0.87  ...       sales     low
4                0.37             0.52  ...       sales     low

[5 rows x 9 columns]

In [ ]:
X=pd.get_dummies(X)
X.head()

   satisfaction_level  last_evaluation  ...  salary_low  salary_medium
0                0.38             0.53  ...           1              0
1                0.80             0.86  ...           0              1
2                0.11             0.88  ...           0              1
3                0.72             0.87  ...           1              0
4                0.37             0.52  ...           1              0

[5 rows x 20 columns]

**Dummy Trapping**

In [ ]:
import statsmodels.api as sm
ols=sm.OLS(endog=Y,exog=X).fit()
print(ols.summary())

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

                            OLS Regression Results
==============================================================================
Dep. Variable:                   left   R-squared:                       0.215
Model:                            OLS   Adj. R-squared:                  0.215
Method:                 Least Squares   F-statistic:                     228.6
Date:                Wed, 15 Jul 2020   Prob (F-statistic):               0.00
Time:                        07:56:23   Log-Likelihood:                -6660.5
No. Observations:               14999   AIC:                         1.336e+04
Df Residuals:                   14980   BIC:                         1.350e+04
Df Model:                          18
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
satisfaction_level        -0.6440      0.013    -50.260      0.000      -0.669      -0.619
last_evaluation            0.0873      0.020      4.349      0.000       0.048       0.127
number_project            -0.0341      0.003    -11.696      0.000      -0.040      -0.028
average_montly_hours       0.0006   6.98e-05      9.187      0.000       0.001       0.001
time_spend_company         0.0364      0.002     16.634      0.000       0.032       0.041
Work_accident             -0.1554      0.009    -17.680      0.000      -0.173      -0.138
promotion_last_5years     -0.1120      0.022     -5.153      0.000      -0.155      -0.069
department_IT              0.0859      0.011      7.661      0.000       0.064       0.108
department_RandD           0.0361      0.013      2.690      0.007       0.010       0.062
department_accounting      0.1114      0.014      8.245      0.000       0.085       0.138
department_hr              0.1460      0.014     10.667      0.000       0.119       0.173
department_management      0.0490      0.015      3.209      0.001       0.019       0.079
department_marketing       0.1089      0.013      8.429      0.000       0.084       0.134
department_product_mng     0.0873      0.013      6.888      0.000       0.062       0.112
department_sales           0.1062      0.007     14.221      0.000       0.092       0.121
department_support         0.1173      0.009     13.008      0.000       0.100       0.135
department_technical       0.1187      0.008     14.042      0.000       0.102       0.135
salary_high                0.2158      0.017     12.459      0.000       0.182       0.250
salary_low                 0.4147      0.015     28.297      0.000       0.386       0.443
salary_medium              0.3362      0.015     22.584      0.000       0.307       0.365
==============================================================================
Omnibus:                     1305.185   Durbin-Watson:                   0.395
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1560.771
Skew:                           0.768   Prob(JB):                         0.00
Kurtosis:                       2.629   Cond. No.                     1.46e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.02e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

**Feature Importance**

In [ ]:
model1=ExtraTreesClassifier()
model1.fit(X,Y)
feature_imp=pd.Series(model1.feature_importances_,index=X.columns)
print(feature_imp)

satisfaction_level        0.230441
last_evaluation           0.139879
number_project            0.236862
average_montly_hours      0.141648
time_spend_company        0.171480
Work_accident             0.018523
promotion_last_5years     0.003027
department_IT             0.003047
department_RandD          0.003179
department_accounting     0.003207
department_hr             0.003047
department_management     0.002452
department_marketing      0.002145
department_product_mng    0.002721
department_sales          0.004934
department_support        0.004565
department_technical      0.005042
salary_high               0.007872
salary_low                0.010939
salary_medium             0.004990
dtype: float64

Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
LR=LogisticRegression(random_state=0).fit(X,Y)
LR.predict_proba(X.iloc[:,0])
LR.score(X,Y)

**Confusion Matrix and Classification Report**

In [ ]:
from sklearn.metrics import confusion_matrix,classification_report
Y_predict=model.predict(X)
print(confusion_matrix(Y,Y_predict))
print(classification_report(Y,Y_predict))